
<title>Scrum 2</title>

<body>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/landing_page.css') }}">  
    <div id="background">
        <div id="login_div">
            <h1>Scrum 2</h1>
            <p>
                
            </p>
            <p>
                <input type="text" placeholder="Insira seu Email" class="login_input">
            </p>
            <p>
                <input type="text" placeholder="Insira sua senha" class="login_input">
            </p>
            <p>
                <button>Entrar</button>
                <button id="create_account_btn">Criar Conta</button>
            </p>
            <p>
                <button>Esqueci minha senha</button>
            </p>        
        </div>
    </div>
</body>
