<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="title">Cadastrar Iteração</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/novoProduto.css') }}">  
</head>
<body>
    <div id="profile">
        <img src="{{ url_for('static', filename='assets/foto.png') }}" alt="Foto do perfil">
    </div>
    <div id="greeting">
        Olá, Ana!😊
    </div>

    <form action="/cadastrar_iteracao" method="POST">
        <label for="release">Release:</label><br>
        <input type="text" id="release" name="release" required><br><br>

        <label for="data_inicio">Data de Início:</label><br>
        <input type="date" id="data_inicio" name="data_inicio" required><br><br>

        <label for="data_final">Data Final:</label><br>
        <input type="date" id="data_final" name="data_final" required><br><br>

        <input type="submit" value="Cadastrar Iteração">
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('form').addEventListener('submit', function(event) {
                event.preventDefault(); 
    
                var formData = new FormData(this);
    
                var xhr = new XMLHttpRequest();
    
                xhr.open('POST', '/novoIteracao', true);
    
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        window.location.href = '/xp';
                    } else {
                        alert('Error: ' + xhr.status);
                    }
                };
    
                xhr.send(formData);
            });
        });
    </script>
</body>
</html>
