<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadastro de Projeto</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/novoRelatorio.css') }}">
</head>
<body>

<form id="projectForm">
    <label for="method">Qual método você utiliza?</label><br>
    <select id="method" name="method" onchange="toggleFields()">
        <option value="scrum">Scrum</option>
        <option value="xp">XP</option>
    </select><br><br>

    <div id="scrumFields"  style="display:none;">
        <label for="relatorio">Relatório:</label><br>
        <input type="file" id="relatorio" name="relatorio"><br><br>
    </div>

    <div id="xpFields" style="display:none;">
        <label for="xpType">Qual tipo você quer cadastrar?</label><br>
        <select id="xpType" name="xpType">
            <option value="release">Release</option>
            <option value="historia">História</option>
            <option value="iteracoes">Iterações</option>
        </select><br><br>

        <label for="relatorio">Relatório:</label><br>
        <input type="file" id="relatorio" name="relatorio"><br><br>
    </div>

    <input type="submit" value="Cadastrar">
</form>

<script>
    function toggleFields() {
    var method = document.getElementById("method").value;
    var scrumFields = document.getElementById("scrumFields");
    var xpFields = document.getElementById("xpFields");

    if (method === "scrum") {
        scrumFields.style.display = "block";
        xpFields.style.display = "none";
    } else if (method === "xp") {
        scrumFields.style.display = "none";
        xpFields.style.display = "block";
    }
}
</script>

</body>
</html>
