<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="title">Scrum2</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/principal.css') }}">  
</head>
<body>
    <div id="profile">
        <img src="{{ url_for('static',filename='assets/foto.png') }}" alt="Foto do perfil">
    </div>
    <div id="greeting">
        Olá, Ana!😊
    </div>

    <div class="botao-container">
        <button class="botao" onclick="window.location.href='/scrum'">Scrum</button>
        <button class="botao" onclick="window.location.href='/xp'">XP</button>
    </div>

    <script>
    </script>
</body>
</html>
