<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="title">Scrum2</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/principal.css') }}">  
</head>
<body>
    <div id="profile">
        <img src="{{ url_for('static',filename='assets/foto.png') }}" alt="Foto do perfil">
    </div>
    <div id="greeting">
        Olá, Ana!😊
    </div>

    <div class="barrinha">
        <div class="barrinha-toggle" onclick="toggleBarrinha()">
          <span class="seta"></span>
          <span class="titulo">Scrum</span> <!-- Título da barrinha -->
        </div>
        <div class="conteudo">
          <!-- Conteúdo da barrinha aqui -->
          <h2 class="Titulo_produto">Produto Atual:</h2>
          <h3>Backlog da Sprint:  </h3>
          
          <p>Lorem ipsum dolor sit amet. Qui fugit minus et aperiam distinctio vel voluptates dolorum! Id dolorem facere sed eius consectetur et consequuntur unde et exercitationem omnis. Non voluptatibus optio eum reprehenderit ullam ad incidunt mollitia eum adipisci quod.
            
            Aut unde porro eos dolores velit aut excepturi ipsa? Sit veniam veritatis ea nobis asperiores aut consequatur atque est omnis cumque qui odit praesentium At accusamus nesciunt. Est obcaecati nisi aut autem nihil ut harum placeat. Qui dolores velit et impedit quasi cum odit corrupti est sunt nemo et voluptatem labore a unde nihil.</p>
          
            <h3>Sprint: 2</h3>
            <h3>Data de Inicio: 02/03</h3>
            <h3>Data Final: 02/04</h3>
           
        </div>
      </div>
      
    <script>
        function toggleBarrinha() {
          var barrinhaConteudo = document.querySelector('.barrinha .conteudo');
          var seta = document.querySelector('.barrinha .seta');
        
          barrinhaConteudo.classList.toggle('aberto');
          seta.classList.toggle('aberto');
        }
    </script>
</body>
</html>
