<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="title">Scrum2</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/scrum.css') }}">  
</head>
<body>
    <div id="profile">
        <img src="{{ url_for('static',filename='assets/foto.png') }}" alt="Foto do perfil">
    </div>
    <div id="greeting">
        Olá, Ana!😊
    </div>

    <div class="conteudo">
        <button class="botao_board" onclick="window.location.href='/novoProduto'">Cadastrar novo produto</button>
        <br> <br>
        <button class="botao_board" onclick="window.location.href='/scrumBoard'">Scrum Board</button>
        <br> <br>
        <select id="productSelect">
          <!-- Options will be dynamically populated from the database -->
        </select>
        <button onclick="viewProduct()">Ver Produto</button>
          <h3>Gráfico BurnDown: </h3>
          <div class="grafico">
            <img src="{{ url_for('static',filename='assets/grafico.jpeg') }}" alt="Grafico" >
          </div>
    
        <script>
          function populateProductDropdown() {
              fetch('/getProductNames')  
                  .then(response => response.json())
                  .then(data => {
                      const select = document.getElementById('productSelect');
                      select.innerHTML = ''; 
                      data.forEach(productName => {
                          const option = document.createElement('option');
                          option.value = productName;
                          option.textContent = productName;
                          select.appendChild(option);
                      });
                  });
          }
      
          function viewProduct() {
              const productName = document.getElementById('productSelect').value;
              window.location.href = `/viewProduct?productName=${productName}`;
          }
      
          document.addEventListener('DOMContentLoaded', function() {
              populateProductDropdown();
          });
      </script>
        
</body>
</html>
