<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="title">Scrum2</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/scrumBoard.css') }}">  
</head>
<body>
    <div id="profile">
        <img src="{{ url_for('static',filename='assets/foto.png') }}" alt="Foto do perfil">
    </div>
    <div id="greeting">
        Olá, Ana!😊
        <h1>Scrum board</h1>

        <div class="kanban-board">
            <div class="column">
                <h2>To Do</h2>
                <div class="card">Inserir/remover tarefas do Scrum Board</div>
                <div class="card">Scrum Board totalmente funcional</div>
            </div>
            <div class="column">
                <h2>Em Progresso</h2>
                <div class="card">Fazer os cards do Scrum Board serem arrastáveis dinamicamente</div>
                <div class="card">Exibir os relatorios em PDF no navegador</div>
            </div>
            <div class="column">
                <h2>Finalizados</h2>
                <div class="card">Fazer login no software</div>
                <div class="card">Cadastrar produtos no banco de dados</div>
                <div class="card">Cadastrar relatórios no banco de dados</div>
            </div>
        </div>
</body>
</html>
