<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Product</title>
</head>
<body>
    <h2 class="Titulo_produto">Produto Atual: {{ product.productName }}</h2>
    <h3>Dono do Produto: {{ product.productOwner }}</h3>
    <h3>Scrum Master: {{ product.scrumMaster }}</h3>
    <h3>Devs: {{ product.devs }}</h3>
    <h3>Data de Início: {{ product.beginDate }}</h3>
    <h3>Data Final: {{ product.endDate }}</h3>
    <h3>Backlog da Sprint:</h3>
    <p>{{ product.sprintBacklog }}</p>
</body>
</html>