<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="title">Scrum2</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/xp.css') }}">  
</head>
<body>
    <div id="profile">
        <img src="{{ url_for('static',filename='assets/foto.png') }}" alt="Foto do perfil">
    </div>
    <div id="greeting">
        Olá, Ana!😊
    </div>
    <div class="conteudo">

        <button class="botao1" onclick="window.location.href='/novoRelease'">Cadastrar nova release</button>
       
        <button class="botao1" onclick="window.location.href='/novoIteracao'">Cadastrar iteração</button>
        
        <button class="botao1" onclick="window.location.href='/novoHistoria'">Cadastrar história</button>

        <button class="botao1" onclick="window.location.href='/novoTarefa'">Cadastrar tarefa</button>
        
       
        
        <h2 class="Relatorios">Relatorios:</h2>
        <button class="botao1" onclick="window.location.href='/novoRelatorio'"">Cadastrar Relatorios</button>
        <br>
        <br>
        <button class="botao1" onclick="window.location.href='/scrumBoard'">Kanban</button>
    </div> 

    <script>
        
        
    </script>
</body>
</html>
