h1{
    font-size: 80;
    font-family: 'Dancing Script', cursive;
    color :#e7eaf6;
}


body{
    display: flex;
    width: 95%;
    height: 100vh;
    justify-content: center;
    align-items:center;
    background-color: #38598b;
}

